.home-container {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
  height: auto;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2rem;
  color: black;
}

.get-started {
  padding: 8px 14px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-bottom: 50px;
  transition: all ease-in-out 0.3s;
}

.get-started:hover {
  background-color: #a855f7;
  transition: all ease-in-out 0.3s;
}

b {
  background: linear-gradient(135deg, #8b5cf6, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}